nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 254px;
    height: 100vh;
    background: #18191F;
}

.Logo {
    position: absolute;
    top: 50px;
    left: 30px;
    width: calc(100% - 60px);
}


.NavItemContainer {
    position: absolute;
    top: 168px;
    left: 30px;
    width: calc(100% - 60px);
}

.NavItem {
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
}

.NavItem svg {
    margin-right: 20px;
}

