a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
    font-family: 'Sora';
    font-size: 24px;
    font-weight: normal;
}

h2 {
    margin: 0;
    font-family: 'Sora';
    font-size: 18px;
    font-weight: normal;
}

h4 {
    margin: 0;
    font-family: 'Sora';
    font-size: 12px;
    font-weight: 400;
}
