.App-body {
    position: fixed;
    top: 263px;
    left: 0;
    width: 100%;
    height: calc(100vh - 263px);
}

.topcheck {
    width: 100%;
    height: 55px;
}

.itemlist {
    overflow: scroll;
    width: 100%;
    height: calc(100% - 50px);
}

img {
    display: inline-block;
    margin-right: 30px;
    height: 15px;
    cursor: pointer;
}

.url {
    display: inline-block;
  	max-width: 500px;
	overflow: hidden;
  	white-space: nowrap;
	text-overflow: ellipsis;
    margin-bottom: -5px;
    cursor: pointer;
}

.url:hover {
    color: blue;
    text-decoration: underline;
}
@media (max-width: 1200px) {
    .url {
        max-width: 400px;
    }
}