.App-PopUp {
    width: 700px;
    height: 500px;
    position: fixed;
    left: calc(50vw - 350px);
    top: calc(50vh - 250px);
    background: #fff;
    border: 2px solid #232323;
}

#editPop {
    display: none;
}

#addPop {
    display: none;
}

#logPop {
    display: block;
}

#holdPop {
    display: none;
}
h2 {
    margin: 30px 0 50px 30px;
}

input {
    margin: 0 0 50px 30px;
    width: calc(100% - 60px);
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-width: 1px;
    border-color: #232323;
    font-size: 20px;
    font-family: 'Sora';
    outline: none;
}

#think {
    display: inline-block;
    margin: 0 0 50px 30px;
    width: calc(100% - 60px);
}

#instead img {
    margin-right: 10px;
}
#instead {
    margin: 0 0 50px 30px;
}
#cancel {
    position: absolute;
    bottom: 30px;
    right: 105px;
}

#editspan {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#holdPop #cancel {
    right: 127px;
}