.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 308px;
}

h1 {
  top: 30px;
  left: 50px;
}

h3 {
  top: 120px;
  left: 50px;
}

.App-header span {
  position: absolute;
  top: 188px;
  left: 75px;
  cursor: pointer;
}

#add {
  left: 75px;
}

#add:hover {
  color: green;
}

#delete {
  left: 242px;
}

#delete:hover { 
  color: red;
}


#add img {
  position: absolute;
  top: 5px;
  left: -25px;
}

#delete img {
  position: absolute;
  top: 4px;
  left: -25px;
}

.App-header a {
  position: absolute;
  top: 55px;
  right: 150px;
  color: inherit;
  text-decoration: none;
}

.App-header a:hover {
  color: blue;
}

@media (max-width: 1300px) {
  .App-header a {
    right: 50px;
  }
}