@font-face {
  font-family: 'Rische';
  font-weight: bolder;
  src: url('Rische\ Bold.otf');
}

@font-face {
  font-family: 'Rische';
  font-weight: lighter;
  src: url('Rische\ Light.otf');
}

@font-face {
  font-family: 'Rische';
  font-weight: normal;
  src: url('Rische\ Regular.otf');
}

@font-face {
  font-family: 'Rische';
  font-weight: 500;
  src: url('Rische\ Medium.otf');
}

@font-face {
  font-family: 'Rische';
  font-weight: bold;
  src: url('Rische\ Semibold.otf');
}

h2 {
  font-size: 40px;
  font-family: 'Rishce';
  position: absolute;
  top: 30px;
  left: 30px;
}